.App {
  color: white;
  /* background: url("assets/sky.gif") no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: "Inter", sans-serif;
}
